h1{
    text-align: center !important;
    color: rgb(79, 212, 190) !important;
    font-size: 60px !important;
    font-style: inherit;
    
    
    
}
h3{
    text-align: center !important;
    color: rgb(79, 212, 190) !important;
    font-size: 45px !important
}
p{  color: white;
    font-size: 30px !important;
    text-align:justify !important
       
}
#links{
    font-size: 20px !important;
}
figure {
    border: thin rgb(79, 212, 190) solid !important;
    padding: 5px !important;
    align-content: center !important;  
   background-color:rgb(252, 214, 46) ; 
}
figcaption {
    
    font: italic smaller sans-serif !important;
    padding: 3px !important;
    text-align: center !important;
}


.breadcrumb-item :hover, .hover:hover{
    font-weight: bold !important;
    font-size: 30px !important;
}
nav {
   background-color: rgba(144, 243, 131, 0.596);
}
/* .carousel-item :active{
    height: 700px;
} */
.carrusel-images{
    max-height: 500px;
    width: 100%;
}
#container{
    background-color: rgb(226, 106, 69);
}
.row{
    align-content: center;
}
.breadcrumb{
    margin-bottom: 0px !important;
}
.imgherra{
    
    max-height: 114px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
